@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SupremeLL";
  src: url("../public/assets/fonts/SupremeLL/SupremeLLWeb-Light.woff")
      format("woff"),
    url("../public/assets/fonts/SupremeLL/SupremeLLWeb-Light.woff2")
      format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "SupremeLL";
  src: url("../public/assets/fonts/SupremeLL/SupremeLLWeb-Medium.woff")
      format("woff"),
    url("../public/assets/fonts/SupremeLL/SupremeLLWeb-Medium.woff2")
      format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "SupremeLL";
  src: url("../public/assets/fonts/SupremeLL/SupremeLLWeb-Bold.woff")
      format("woff"),
    url("../public/assets/fonts/SupremeLL/SupremeLLWeb-Bold.woff2")
      format("woff2");
  font-weight: 700;
}
